<!DOCTYPE html>
<html>

<head>

    <title>Card Access</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<div class="container">

    <h1>Smart Access Control</h1>

    <h2>Card Authentication</h2>

    <form action="/card" method="post">

        <input
            type="text"
            name="uid"
            placeholder="Enter Card UID"
            class="input-box"
            required>

        <button class="btn">
            CHECK ACCESS
        </button>

    </form>

    <br>

    <a href="/" class="btn">
        ← Back
    </a>

</div>

</body>

</html>