<!DOCTYPE html>
<html>

<head>

    <title>Smart Door Control</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<div class="container">

    <div class="card">

        <h1>🚪 Smart Door Control</h1>

        <div class="door-scene">

            <div class="door-frame">

                <div id="door" class="door">

                    <div class="door-handle"></div>

                </div>

            </div>

        </div>

        <br>

        <h2 id="door-status">
            🔒 CLOSED
        </h2>

        <h3>
            Relay :
            <span id="relay-status">
                🔴 OFF
            </span>
        </h3>

        <br>

        <button
            class="btn"
            onclick="openDoor()">

            🟢 OPEN DOOR

        </button>

        <button
            class="btn"
            onclick="closeDoor()">

            🔴 CLOSE DOOR

        </button>

        <br><br>

        <a href="/" class="btn">
            ⬅ Back to Home
        </a>

    </div>

</div>

<script src="/static/js/door.js"></script>

</body>

</html>