<!DOCTYPE html>
<html>

<head>

    <title>Smart Access Control</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<div class="container">

    <div class="terminal-card">

        <h1>
            Smart Access Control
        </h1>

        <p class="subtitle">
            Access Terminal
        </p>


        <a href="/card" class="btn">
            🪪 CARD ACCESS
        </a>


        <a href="/pin" class="btn">
            🔑 PIN ACCESS
        </a>


        <a href="/qr" class="btn">
            📱 QR CODE ACCESS
        </a>


        <a href="/fingerprint" class="btn">
            👆 FINGERPRINT ACCESS
        </a>


    </div>

</div>


</body>

</html>