<!DOCTYPE html>
<html>

<head>

    <title>PIN Access</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<div class="container">

    <h1>
        Smart Access Control
    </h1>

    <h2>
        PIN Authentication
    </h2>


    <form action="/pin" method="post">

        <input
            type="password"
            name="pin"
            placeholder="Enter PIN"
            class="input-box"
            required>


        <button class="btn">
            CHECK PIN
        </button>


    </form>


    <br>


    <a href="/" class="btn">
        ← Back
    </a>


</div>

</body>

</html>