body{

    margin:0;
    background:#f4f6f9;
    font-family:Arial;
}

.container{

    max-width:400px;

    margin:60px auto;

    text-align:center;
}

h1{

    color:#0d6efd;
}

h2{

    margin-bottom:40px;

    color:#555;
}

.btn{

    display:block;

    text-decoration:none;

    background:#0d6efd;

    color:white;

    padding:20px;

    margin-bottom:20px;

    border-radius:10px;

    font-size:22px;

    font-weight:bold;
}

.btn:hover{

    background:#0b5ed7;
}

.input-box{

    width:100%;

    padding:15px;

    font-size:18px;

    border:1px solid #ccc;

    border-radius:10px;

    margin-bottom:20px;

    box-sizing:border-box;
}

.card{

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 4px 12px rgba(0,0,0,0.15);

}

.success{

    border-top:6px solid #28a745;

}

.danger{

    border-top:6px solid #dc3545;

}

hr{

    margin:25px 0;

    border:none;

    border-top:1px solid #ddd;

}

.door-panel{

    background:#f8f9fa;

    border:2px solid #dee2e6;

    border-radius:12px;

    padding:20px;

    margin-top:20px;

}

.door-status{

    font-size:28px;

    font-weight:bold;

    margin-top:10px;

}

.open{

    color:#28a745;

}

.closed{

    color:#dc3545;

}